.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    background-color: cornflowerblue;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
    z-index: 11;
    
    
}
.sidenav a {
    padding: 17px 5px 5px 28px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.9s;
    
}

.sidenav a:hover {
    opacity: 0.8;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 50px;
    margin-left: 50px;
    cursor: pointer;
}
.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    height: 50px; 
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
    
.header-left {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    font-family: 'Allison', cursive;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    /* padding-right: 30px; */
        
}

.header span {
    display: none;
}

.header-right:hover {
    background-color: darkgray;
}

.logo {
    width: 50px;
    height: 20px;
    padding: 15px;
    border-radius: 50%;
}

.header-left h1 {
    font-size: 40px;
}

.header-right ul li{
    font-size: 20px;
}

.header-right a {
    padding: 15px;
    color:black;
    transition: all 0,5;
}

a {
    text-decoration: none;

}

.main {
    background-image: url("../img/images.png");
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px;

}

img {
    border-radius: 50%;    
    display: block;   
    width: 15;
}
span.menu-toggle {
    display: none;
    color: black;
    cursor: pointer;
}


.portofolio .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFAA4C;
    text-align: left;   
}

h2,h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:  800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #FFAA4C;
    width: 100%;
    line-height: 50px;
}

.portofolio {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.portofolio p {
     text-align: center;
     margin-top: 30px;
     font-size: 20px;
}

.portofolio button {
    padding: 5px 25px;
    background: #001E6C;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
    
}

.portofolio p a {
    margin-top: 100px;
}

 a.tbl-biru {
     background: #001E6C;
     border-radius: 20px;
     margin-top: 20px;
     padding: 15px 20px 15px 20px;
     color: #ffffff;
     cursor: pointer;
     font-weight: bold;
 }

 a.tbl-biru:hover {
     background: #FFAA4C;
     text-decoration: none;
 }

.welcome {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.welcome p, .welcome p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:  800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #FFAA4C;
    text-align: center;
    align-self: stretch;
    width: 100%;

    /* width: 30%; */
}

.welcome img {
    /* margin-left: 150px; */
    /* margin-right: 150px; */
    display: block;
}

.lesson-wrapper {
    height: auto;
    padding-bottom: 80px;
    background-color: aqua;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container {
    padding: 100px 0px;
}

.lessons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}


.lesson {
    /* float: left; */
    /* width: 20%; */
    padding: 20px 30px;
    font-size: 20px;

}

.lesson-icon span {
    /* width: 30px;
    height: 30px; */
    font-size: 75px;

}

.lesson-icon {
    /* width: 70px; */
    /* position: relative; */
    text-align: center; 

}

.lesson-icon p {
    /* position: absolute; */
    top: 90px;
    width: 100%;
    /* color: white; */
}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: aqua;
    flex-direction: column;
}

.contact-me h1 {
    text-align: center;

}
.contact {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
     margin: 75px 0px;
     flex-wrap: wrap;
 }



.sosmed {
    display: flex;
    font-size: 50px;
    justify-content: center;
    color: tomato;
}

.sosmed span {
    margin-right: 15px;
    margin-left: 15px;
}

.contact-me h4 {
    font-size: 40px;
    padding: 0px 50px;
    margin: 50px 50px;

}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
form p {
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

form input {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 200px;
    margin-top: 10px;
    height: 20px;


}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: teal;
}

.message {
    background-color: rgb(172, 166, 165);
    padding: 15px 40px;
    box-shadow: 0 7px violet;
}
.message:active {
     box-shadow: none;
     position: relative;
     top: 7px;
}

.btn-instagram {
    margin-bottom: 20px;
    color: red;
   
}
 .btn {
    margin-bottom: 20px;
 }
.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

footer {
    /* padding-top: 30px; */
    text-align: center;
    background-color: #6495ed;
}

footer img {
    width:  125px;
}

footer p {
    color: black;
    font-size: 15px;
    margin: 0px;

}

 /* #copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
} */

.dark-mode {
    background-color: #222;
}

.dark-mode .contact-me, .dark-mode .lesson-wrapper {
    background-color: #222;


}
 .dark-mode .lesson-icon, .dark-mode .contact, .dark-mode form p, .dark-mode .lesson p {
     color: tomato;
 }

.dark-mode .header, .dark-mode footer {
    background-color: tomato;

}

.dark-mode .header a, .dark-mode .header h1 {
    color: white;

}

.dark-mode .main {
    background-image: url("../img/dark.png");
}
.dark-mode .portofolio p {
    color: white;
}

@media screen and (max-width: 768px) {
    span.menu-toggle {
        display: none;
    }
    .header-right {
        display: none;
        /* width: 0px; */
        
    }
    .header span {
        display: block;
        width: 100%;
        text-align: right;
        padding-right: 30px;
        /* margin-left: -30px; */
    }
}
@media screen and (max-width: 576px) {
    span.menu-toggle {
        display: flex;
    }
    .header-right {
        display: none;

    }
    .header span {
        display: block;
        width: 100%;
        text-align: right;
        padding-right: 30px;
        /* margin-left: -30px; */
    }
}


