.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    background-color: cornflowerblue;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
    
    
}
.sidenav a {
    padding: 17px 5px 5px 28px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.9s;
    
}

.sidenav a:hover {
    opacity: 0.8;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 50px;
    margin-left: 50px;
    cursor: pointer;
}
.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    height: 50px; 
    position: fixed;
    top: 0;
    z-index: 10;
}
    
.header-left {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    font-family: 'Allison', cursive;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
        
}
.header-right:hover {
    background-color: darkgray;
}

.logo {
    width: 50px;
    height: 20px;
    padding: 15px;
    border-radius: 50%;
}

.header-left h1 {
    font-size: 40px;
}

.header-right ul li{
    font-size: 20px;
}

.header-right a {
    padding: 15px;
    color:black;
    transition: all 0,5;
}

a {
    text-decoration: none;

}

.main {
    background-image: url("../img/images.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    border-radius: 50%;    
    display: block;   
    width: 15;
}
span.menu-toggle {
    display: none;
    color: black;
    cursor: pointer;
}


.portofolio .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFAA4C;
    text-align: left;   
}

h2,h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:  800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #FFAA4C;
    width: 100%;
    line-height: 50px;
}
 .portofolio p {
     text-align: center;
     margin-top: 30px;
     font-size: 20px;

}

.portofolio p a {
    margin-top: 100px;
}

 a.tbl-biru {
     background: #001E6C;
     border-radius: 20px;
     margin-top: 20px;
     padding: 15px 20px 15px 20px;
     color: #ffffff;
     cursor: pointer;
     font-weight: bold;
 }
 a.tbl-biru:hover {
     background: #FFAA4C;
     text-decoration: none;
 }
.welcome {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.welcome p, .welcome p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:  800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #FFAA4C;
    text-align: center;
    align-self: stretch;
    width: 100%;

    /* width: 30%; */
}

.welcome img {
    /* margin-left: 150px; */
    /* margin-right: 150px; */
    display: block;
}

.lesson-wrapper {
    height: 100px;
    padding-bottom: 80px;
    background-color: aqua;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.lesson {
    float: left;
    /* width: 20%; */
    padding: 20px 30px;
    font-size: 20px;
    

}

.lesson-icon {
    /* width: 70px; */
    position: relative;
    text-align: center;
    
    
}

.lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    /* color: white; */
    
    
    

}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: teal;
}

.message {
    background-color: tomato;
    padding: 15px 40px;
    box-shadow: 0 7px violet;
}
.message:active {
     box-shadow: none;
     position: relative;
     top: 7px;
}

.btn-instagram {
    margin-bottom: 20px;
    color: red;
   
}
 .btn {
    margin-bottom: 20px;
 }
.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

footer {
    padding-top: 30px;
}

footer img {
    width:  125px;
}

footer p {
    color: royalblue;
    font-size: 12px;
}

 #copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    span.menu-toggle {
        display: none;
    }
    .header-right {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    span.menu-toggle {
        display: flex;
    }
    .header-right {
        display: none;
    }
}


